---
import { SNOWFLAKE_TELEPHONE } from "../consts";
import Email from "./Email.astro";
import Telephone from "./Telephone.astro";
import SocialLinks from "./SocialLinks.astro"

const today = new Date();
---

<footer>
  &copy; {today.getFullYear()} Snowflake Nordic Ski Center. All rights reserved.


  <div class="links">
    <address class="contact-links">
      <div>
        Snowflake Nordic Ski Center<br />
         4348 Rice Lake Road<br />
         Duluth, Minnesota 55811
      </div>
      <div>
        <div><Telephone number={SNOWFLAKE_TELEPHONE} label="phone:" /></div>
        <div><Email address="snowflakeduluth@gmail.com" label="email:" /></div>
      </div>
    </address>
    <SocialLinks />
  </div>
  <style>
    footer {
      padding: 2em 1em 6em 1em;
      background: linear-gradient(var(--gray-gradient)) no-repeat;
      color: rgb(var(--gray));
      text-align: center;
    }
    .links {
      display: grid;
      grid-auto-flow: column;
      grid-auto-columns: minmax(0, 1fr);
      gap: 1em;
      margin-top: 1em;
    }
    .contact-links {
      text-align: left;
    }
    .contact-links > div {
      margin-bottom: 0.5em;
    }

    @media (max-width: 500px) {
      .links {
        display: block;
      }
      .contact-links {
        display: inline-block;
        margin: auto;
      }
      .social-links {
        justify-content: center;
      }
    }
  </style>
</footer>
