---
import HeaderLink from "./HeaderLink.astro";
import { SITE_TITLE } from "../consts";
---

<header>
  <h2><a href="/">{SITE_TITLE}</a></h2>

  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

  <nav>
    <ul class="internal-links">
      <HeaderLink href="/kidski">KidSki</HeaderLink>
      <HeaderLink href="/season-pass-form">Season Pass</HeaderLink>
      <HeaderLink href="/nordic-skiing">Nordic Skiing</HeaderLink>
      <HeaderLink href="/tent-camping">Camping</HeaderLink>
      <HeaderLink href="/trails">Trails</HeaderLink>
      <HeaderLink href="/ski-with-your-dogs">Activities</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="/upcoming-events">Upcoming events</HeaderLink> -->
    </ul>
    <ul class="social-links">
      <li>
        <a href="https://instagram.com/snowflakeduluth" target="_blank">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="28"
            viewBox="0 0 448 512"
            astro-icon="social/instagram"
          >
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              fill="currentColor"
              d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a href="https://twitter.com/ski_snowflake" target="_blank">
          <svg
            viewBox="0 0 16 16"
            aria-hidden="true"
            width="32"
            height="32"
            astro-icon="social/twitter"
          >
            <path
              fill="currentColor"
              d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z"
            ></path>
          </svg>
        </a>
      </li>
      <li>
        <a
          href="https://www.facebook.com/Snowflake-Nordic-Ski-Center-174225889273034/"
          target="_blank"
        >
          <svg
            xmlns="http://www.w3.org/2000/svg"
            height="32"
            width="32"
            viewBox="0 0 512 512"
          >
            <!--!Font Awesome Free 6.5.1 by @fontawesome - https://fontawesome.com License - https://fontawesome.com/license/free Copyright 2023 Fonticons, Inc.-->
            <path
              fill="currentColor"
              d="M512 256C512 114.6 397.4 0 256 0S0 114.6 0 256C0 376 82.7 476.8 194.2 504.5V334.2H141.4V256h52.8V222.3c0-87.1 39.4-127.5 125-127.5c16.2 0 44.2 3.2 55.7 6.4V172c-6-.6-16.5-1-29.6-1c-42 0-58.2 15.9-58.2 57.2V256h83.6l-14.4 78.2H287V510.1C413.8 494.8 512 386.9 512 256h0z"
            ></path>
          </svg>
        </a>
      </li>
    </ul>
  </nav>
</header>

<style>
  /* Reset */
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  header {
    padding: 0 1em;
    background-color: var(--nav-background);
    box-shadow: var(--nav-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: sticky; */
    top: 0;
    width: 100%;

    z-index: 10;

    --hamb-color: #333;
    --nav-link-color: #333;
    --nav-link-hover: #eee;
    --nav-background: #fff;
    --nav-shadow: rgba(var(--black), 5%);
    --nav-menu-background: #eee;
  }
  h2 {
    margin: 0;
    font-size: 1em;
    padding: auto;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
    color: unset;
  }

  /* nav menu styling */
  /* Theming */

  ul {
    list-style: none;
  }

  /* Header */
  header {
    background-color: var(--nav-background);
    box-shadow: 1px 1px 3px 0px var(--nav-shadow);
    position: sticky;
    top: 0;
    width: 100%;
  }

  /* Nav menu */
  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-background);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
  }

  .internal-links {
    background-color: var(--nav-menu-background);
    padding: 48px 16px;
  }

  .internal-links a {
    display: block;
    padding: 12px;
    color: var(--nav-link-color);
  }

  .internal-links a:hover {
    background-color: var(--nav-link-hover);
  }

  .social-links {
    display: none;
  }

  /* Menu Icon */

  .hamb {
    cursor: pointer;
    padding: 20px 0;
    z-index: 10;
  }

  .hamb-line {
    background: var(--hamb-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: var(--hamb-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  /* Toggle menu icon */

  .side-menu:checked ~ nav {
    max-height: 100%;
    background-color: var(--nav-background);
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Responsiveness */

  @media (min-width: 768px) {
    .social-links {
      display: block;
    }

    .social-links,
    .social-links a {
      display: flex;
    }

    nav {
      max-height: none;
      position: relative;
      width: fit-content;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav a {
      padding: 1em 0.5em;
      color: var(--black);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      text-decoration: none;
    }

    nav a.active {
      text-decoration: none;
      border-bottom-color: var(--accent);
    }

    .internal-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      padding: 0 1em 0 0;
    }

    .internal-links a:hover {
      background-color: var(--nav-link-hover);
    }

    .hamb {
      display: none;
    }
  }
</style>
