---
import HeaderLink from "./HeaderLink.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
import SocialLinks from "./SocialLinks.astro"
---

<header class="box-border">
  <div class="title pt-4 pb-2">
    <a href="/">
      <h2 class="m-0 p-0">{SITE_TITLE}</h2>
      <div>{SITE_DESCRIPTION}</div>
    </a>
  </div>

  <!-- Hamburger icon -->
  <input class="side-menu" type="checkbox" id="side-menu" />
  <label class="hamb" for="side-menu"><span class="hamb-line"></span></label>

  <nav>
    <ul class="internal-links">
      <HeaderLink href="/kidski">KidSki</HeaderLink>
      <HeaderLink href="/season-pass-form">Season Pass</HeaderLink>
      <HeaderLink href="/nordic-skiing">Nordic Skiing</HeaderLink>
      <HeaderLink href="/tent-camping">Camping</HeaderLink>
      <HeaderLink href="/trails">Trails</HeaderLink>
      <HeaderLink href="/ski-with-your-dogs">Activities</HeaderLink>
      <HeaderLink href="/about">About</HeaderLink>
      <!-- <HeaderLink href="/upcoming-events">Upcoming events</HeaderLink> -->
    </ul>

    <div class="hidden lg:block">
        <SocialLinks  />
    </div>
  </nav>
</header>

<style>
  /* Reset */
  /* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  } */

  header {
    padding: 0 1em;
    background-color: var(--nav-background);
    box-shadow: var(--nav-shadow);
    display: flex;
    align-items: center;
    justify-content: space-between;

    /* position: sticky; */
    top: 0;
    width: 100%;

    z-index: 10;

    --hamb-color: #333;
    --nav-link-color: #333;
    --nav-link-hover: #eee;
    --nav-background: #fff;
    --nav-shadow: rgba(var(--black), 5%);
    --nav-menu-background: #eee;
  }

  h2 {
    font-size: 1.1em;
    font-weight: bold;
    line-height: 1;
  }

  .title a,
  .title a.active {
    text-decoration: none;
    color: unset;
  }

  .title div {
     font-size: 0.75em;
     font-weight: 100;
  }

  /* nav menu styling */
  /* Theming */

  ul {
    list-style: none;
  }

  /* Header */
  header {
    background-color: var(--nav-background);
    box-shadow: 1px 1px 3px 0px var(--nav-shadow);
    position: sticky;
    top: 0;
    width: 100%;
  }

  /* Nav menu */
  nav {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    background-color: var(--nav-background);
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.5s ease-out;
    font-size: 1rem;
    line-height: 1;
  }

  .internal-links {
    background-color: var(--nav-menu-background);
    padding: 48px 16px;
  }

  .internal-links a {
    display: block;
    padding: 12px;
    color: var(--nav-link-color);
  }

  .internal-links a:hover {
    background-color: var(--nav-link-hover);
  }

  /* Menu Icon */

  .hamb {
    cursor: pointer;
    padding: 20px 0;
    z-index: 10;
  }

  .hamb-line {
    background: var(--hamb-color);
    display: block;
    height: 2px;
    position: relative;
    width: 24px;
  }

  .hamb-line::before,
  .hamb-line::after {
    background: var(--hamb-color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all 0.2s ease-out;
    width: 100%;
  }

  .hamb-line::before {
    top: 5px;
  }

  .hamb-line::after {
    top: -5px;
  }

  .side-menu {
    display: none;
  }

  /* Toggle menu icon */

  .side-menu:checked ~ nav {
    max-height: 100%;
    background-color: var(--nav-background);
  }

  .side-menu:checked ~ .hamb .hamb-line {
    background: transparent;
  }

  .side-menu:checked ~ .hamb .hamb-line::before {
    transform: rotate(-45deg);
    top: 0;
  }

  .side-menu:checked ~ .hamb .hamb-line::after {
    transform: rotate(45deg);
    top: 0;
  }

  /* Responsiveness */

  @media (min-width: 768px) {
    nav {
      max-height: none;
      position: relative;
      width: fit-content;
      background-color: transparent;
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    nav a {
      padding: 1em 0.5em;
      color: var(--black);
      border-top: 4px solid transparent;
      border-bottom: 4px solid transparent;
      text-decoration: none;
    }

    nav a.active {
      text-decoration: none;
      border-bottom-color: var(--accent);
    }

    .internal-links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background: transparent;
      padding: 0 1em 0 0;
    }

    .internal-links a:hover {
      background-color: var(--nav-link-hover);
    }

    .hamb {
      display: none;
    }
  }

</style>
