---
// Component for rendering markdown with prose styling
// Uses styles from the @tailwindcss/typography plugin
---
<div class="prose sm:prose-l md:prose-xl
  prose-h1:font-bold prose-h1:text-xl
  prose-a:text-blue-600 prose-p:text-justify prose-img:rounded-xl
  prose-headings:underline">
  <slot />
</div>
