---
// Component for rendering markdown with prose styling
// Uses styles from the @tailwindcss/typography plugin
---
<div class="prose:lg
  prose-h1:text-3xl md:prose-h1:text-4xl
  prose-h2:text-2xl md:prose-h2:text-3xl
  prose-h3:text-xl md:prose-h3:text-2xl
  prose-h3:font-bold
  prose-a:text-blue-600
  prose-img:rounded-xl">
  <slot />
</div>
