---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import type { MarkdownLayoutProps } from "astro";
import Prose from "../components/Prose.astro";

type Props = MarkdownLayoutProps<{
  title: string;
  description: string;
  heroImage: string | undefined;
}>;

const { frontmatter } = Astro.props;
const { title, description, heroImage } = frontmatter;
---

<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
    <style>
      .hero-image {
        width: 100%;
      }
      .hero-image img {
        display: block;
        margin: 0 auto;
        border-radius: 12px;
        box-shadow: var(--box-shadow);
      }
      .date {
        margin-bottom: 0.5em;
        color: rgb(var(--gray));
      }
      .last-updated-on {
        font-style: italic;
      }
    </style>
  </head>

  <body>
    <Header />
    <main class="max-w-screen md:max-w-screen-md mx-auto">
      <article>
        <div class="hero-image">
          {
            frontmatter.heroImage && (
              <img width={1020} height={510} src={heroImage} alt="" />
            )
          }
        </div>
        <Prose>
          <div class="text-center mb-8">
            <h1>{title}</h1>
          </div>
          <slot />
        </Prose>
      </article>
    </main>
    <Footer />
  </body>
</html>
